a:link {
    color: black;
    text-decoration:none;
}
a:visited {
    color: blue;
}
a:hover {
    color: #FF00FF;
}
a:active {
    color: blueviolet;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}



#outer
{


    border-style:dotted;
    position: absolute;
    border: dotted black 1.5px;
    width: 60%;
    height:99%;
    left:20%;
    top: 1px;
    background-color: white;
    border-right-width:1.3px;


}
#header{
    position: relative;
    top: 0;
    width: 99.9%;
    height:18%;
    float:right;
    left: 0%;
    font-size:34px;
    text-align: left;
    letter-spacing:2px;
}
#content{
    position: relative;
    width: 85%;
    height:78.8%;
    float:right;
    text-indent:10px;
    font-size:18px;
    text-align:left;
    font-size:30px;
    color:black; 
    width: 100%;
}

#footer{
    position: relative;
    width: 100%;
    height:3.9%;
    top:-.4%;
    float: left;
    background-color: antiquewhite;
    text-align:center;
    letter-spacing:2px;
    font-size:20px; 


}


#outline
{

    position: relative;
    top: 0%;
    width: 97%;
    height: 20%;
    border-bottom: 1px solid black;
    background-color:  antiquewhite;
    padding-left: 3%;
    font-size: 20px;
    padding-top: 0.5%;
    opacity: 0.7;
}
#images{

    position: relative;
    top: 0%;
    width: 100%;
    height: 76%;
overflow: hidden;

    padding-left: 0%;
    font-size: 20px;
    padding-top: 0%; 






}